<div class="container mt-4">
    <h1 class="mb-3 text-primary font-weight-bold">Game Rules</h1>

    <ol class="mb-3">
        <li>
            <strong>Match predictions</strong> will be available from <span class="text-success">8 AM</span> and will
            close
            <span class="text-danger">5 minutes before the toss</span>.
        </li>
        <li>
            Users can <strong>modify</strong> their predictions within this time frame.
        </li>
        <li>
            <strong>Entry Fee per Match:</strong> <span class="text-primary">Rs. 10</span>
        </li>
        <li>
            <strong>Points Distribution:</strong>
            <div class="table-responsive mt-2">
                <table class="table table-bordered text-center shadow-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th class="bg-secondary text-white">Prediction Factor</th>
                            <th class="bg-secondary text-white">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Toss Winner</strong></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><strong>Match Winner</strong></td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td><strong>Man of the Match</strong></td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td><strong>Most Runs</strong></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><strong>Most Wickets</strong></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><strong>Most Catches</strong></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><strong>Most Sixes</strong></td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="text-muted small mt-2">
                <strong>Note:</strong> In case of a tie, the prediction submitted first will be considered.
            </p>
        </li>
        <li>
            <strong>Prize Distribution:</strong> Based on the number of participants:
            <div class="table-responsive mt-2">
                <table class="table table-bordered text-center shadow-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th class="bg-secondary text-white">No. of Players</th>
                            <th class="bg-secondary text-white">First Prize</th>
                            <th class="bg-secondary text-white">Second Prize</th>
                            <th class="bg-secondary text-white">Third Prize</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let total of breakdowns | keyvalue: originalOrder">
                            <td><strong>{{ total.key }}</strong></td>
                            <td class="text-success"><strong>{{ total.value.first }}</strong></td>
                            <td class="text-info"><strong>{{ total.value.second }}</strong></td>
                            <td class="text-warning"><strong>{{ total.value.third }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div class="container mt-5">
                <h2 class="mb-4">Fantasy Cricket Points System</h2>

                <h3>1. Batting Points:</h3>
                <ul>
                    <li><strong>Runs Scored:</strong>
                        <ul>
                            <li>1 point for every run scored.</li>
                        </ul>
                    </li>
                    <li><strong>Bonus for milestone:</strong>
                        <ul>
                            <li>10 points for scoring 50 runs.</li>
                            <li>25 points for scoring 100 runs.</li>
                        </ul>
                    </li>
                    <li><strong>For a Duck (0 runs):</strong>
                        <ul>
                            <li>Minus 2 points.</li>
                        </ul>
                    </li>
                    <li><strong>Boundaries and Sixes:</strong>
                        <ul>
                            <li>2 points for every boundary (4).</li>
                            <li>4 points for every six (6).</li>
                        </ul>
                    </li>
                </ul>

                <h3>2. Bowling Points:</h3>
                <ul>
                    <li><strong>Wickets Taken:</strong>
                        <ul>
                            <li>25 points for every wicket taken.</li>
                        </ul>
                    </li>
                    <li><strong>Bonus for milestones:</strong>
                        <ul>
                            <li>10 points for taking 3 wickets.</li>
                            <li>25 points for taking 5 wickets.</li>
                        </ul>
                    </li>
                    <li><strong>For No Wickets:</strong>
                        <ul>
                            <li>Minus 2 points.</li>
                        </ul>
                    </li>
                    <li><strong>Economy Rate:</strong>
                        <ul>
                            <li>A bowler with an economy rate of 6 or less earns 4 points.</li>
                            <li>Economy rate between 6.1 to 8.5 earns 2 points.</li>
                            <li>Economy rate between 8.6 to 9 earns 0 points.</li>
                            <li>Economy rate above 9 loses 2 points.</li>
                        </ul>
                    </li>
                </ul>

                <h3>3. Fielding Points:</h3>
                <ul>
                    <li><strong>Catches:</strong>
                        <ul>
                            <li>8 points for every catch taken.</li>
                        </ul>
                    </li>
                    <li><strong>Run-outs:</strong>
                        <ul>
                            <li>12 points for a successful run-out.</li>
                        </ul>
                    </li>
                    <li><strong>Stumpings:</strong>
                        <ul>
                            <li>12 points for a stumping.</li>
                        </ul>
                    </li>
                </ul>
                <h3>4. Bonus:</h3>
                <ul>
                    <li><strong>Captain: x2</strong>
                    <li><strong>Vice Captain: x1.5</strong>
                    <li><strong>Man of the match: 25 pts</strong>
                </ul>

            </div>

        </li>
        <li>
            <strong>Payment Instructions:</strong>
            <p>
                Load <span class="text-success font-weight-bold">Esewa</span> and mention
                <span class="p-2">"MCT-IPL-2025 [Your Name]"</span> in the payment reference.
            </p>
            <img src="../../../../../../assets/images/qr.png" alt="QR Code" class="img-fluid mt-2 shadow-lg rounded"
                style="max-width: 300px;">
        </li>
    </ol>
</div>