<div class="leaderboard-container">
  @if(allPredictions && allPredictions.length) {
  <div class="d-flex align-items-center justify-content-between p-2 head">
    <button mat-mini-fab color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="text-center title">🏆 Leaderboard</h1>
    <div class="hid"></div>
  </div>

  <div class="d-flex flex-wrap gap-4 justify-content-center">
    <!-- Leaderboard Section -->
    <div class="select-section">
      <!-- <h4>Top Players</h4> -->
      <div class="player-list">
        <div
          *ngFor="let item of allPredictions; let i = index"
          (click)="selectTeam(item)"
          class="player-card mt-3"
          [ngClass]="{ active: selectedTeam === item }"
        >
          <!-- Rank -->
          <div class="rank">
            <span> #{{ i + 1 }} </span>
          </div>

          <!-- Player Info -->
          <div class="player-info">
            <img
              class="profile-img"
              [src]="
                item.user.img
                  ? authService.getProfileUrl(item.user.img)
                  : 'assets/images/default.png'
              "
            />
            <span>{{ item.user.firstName }} {{ item.user.lastName }}</span>
          </div>

          <!-- Captain & Vice-Captain -->
          <div class="captain-info">
            <div class="player-name w-100">
              <span class="cap">C</span>
              <img [src]="item.captain.img" class="mini-img" />
              <sub class="mt-2"
                >{{ item.captain.name.split("")[0] }}.
                {{
                  item.captain.name.split(
                    "
                                "
                  )[1]
                }}</sub
              >
            </div>
            <div class="player-name w-100">
              <span class="cap">VC</span>
              <img [src]="item.viceCaptain.img" class="mini-img" />
              <sub class="mt-2"
                >{{ item.viceCaptain.name.split("")[0] }}.
                {{
                  item.viceCaptain.name.split(
                    "
                                "
                  )[1]
                }}</sub
              >
            </div>
          </div>

          <!-- Points -->
          <div class="points">
            <strong>{{ item.totalPoints }}</strong> pts
          </div>
          <span
            *ngIf="item.balance"
            [ngClass]="{
              'text-danger font-weight-bold': item.action === 'deducted',
              'text-success font-weight-bold': item.action === 'added'
            }"
            class="balance"
          >
            {{ item.action === "deducted" ? "🔻" : "🔺" }} Rs.{{ item.balance }}
          </span>
        </div>
      </div>
    </div>

    <!-- Preview Section -->
    <div class="preview-section" *ngIf="selectedTeam" #previewSection>
      <h2 class="text-center">📋 Preview Team</h2>
      <app-preview-team
        [captain]="selectedTeam.captain.id"
        [viceCaptain]="selectedTeam.viceCaptain.id"
        [selectedPlayers]="selectedTeam.players"
        [showPoints]="true"
      ></app-preview-team>
    </div>
  </div>

  } @else {
  <div class="alert alert-danger text-center">
    ❌ Predictions Locked at the moment.
  </div>
  }
</div>
