<div class="leaderboard-container">
  <h2 class="title">🏆 Fantasy Leaderboard</h2>

  <div class="table-responsive">
    <table class="leaderboard-table">
      <thead>
        <tr>
          <th>User</th>
          <th *ngFor="let rank of rankColumns">
            {{ rank }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of leaderboard">
          <td class="user-info">
            <img
              class="profile-img"
              [src]="
                user.image
                  ? authService.getProfileUrl(user.image)
                  : 'assets/images/default.png'
              "
              alt="User"
            />
            <div class="user-details">
              <div class="name">{{ user.name }}</div>
            </div>
          </td>
          <td
            *ngFor="let rank of rankColumns"
            [ngClass]="{
              rank: true,
              gold: rank === '1st',
              silver: rank === '2nd',
              bronze: rank === '3rd',
              others: ['1st', '2nd', '3rd'].indexOf(rank) === -1
            }"
          >
            {{ user.ranks[rank] || 0 }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
